<h1 class="center">B's BBQ Smokehouse</h1>

<div class="cards">
  <div class="card">
    <div class="card-text">
      <h3> Check Out Our Menu </h3>
      <button href="/apps/new" class="button"> Menu </button>
    </div>
  </div>

  <div class="card2">
    <div class="card-text2">
      <h3> View Your Plate </h3>
      <button href="/apps" class="button"> View Your Plate </button>
    </div>
  </div>
</div>