<nav class="light-blue darken-4">
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">B's BBQ Smokehouse</a>
    <a 
      href="#" 
      data-activates="mobile" 
      class="button-collapse"
    >
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="nav-items">
      <li><a href="/apps/new">Menu Items</a></li>
      <li><a href="/apps">My Plate</a></li>
    </ul>
    
  </div>
</nav>
