<nav class="nav">
  <div class="nav-wrapper">
  
    <a href="/" ><img src="pig_icon.png" class="brand-logo"></a>

    <div ="links">
      <a class="menu" href="/apps/new">Menu Items</a>
      <a class="plate" href="/apps">My Plate</a>
    </div>
    
  </div>
</nav>
