.brand-logo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;

}

.nav-items {
  display: flex;

  margin-right: 20px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
}

.nav-wrapper {
    overflow: hidden;
    background-color: rgb(141, 20, 20);
    position: initial;
    height: 150px;
    display: flex;
    align-items: center;
    width: 100%; 
    border-radius: 10px;
}

.menu {
  display: flex;
  align-items: flex-end;
  
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-decoration: unset;
}

.plate {
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-decoration: unset;
}

.links {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  text-decoration: unset;
}

.center {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 88px;
}

.cards {
  display: flex;
  justify-content: center;
}


.card {
  background-color: rgb(52, 51, 75);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  border-radius: 5px;
  margin-right: 5px;
}

.card2 {
  background-color: rgb(52, 51, 75);
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  border-radius: 5px;
  margin-left: 5px;
}


  .button {
    background-color: rgb(57, 157, 250);
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  
}
